{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["import"],
  "rules": {
    "arrow-parens": ["warn", "as-needed", { "requireForBlockBody": true }],
    "comma-dangle": ["error", "never"],
    "max-len": ["error", { "code": 100, "ignoreUrls": true }],
    "no-param-reassign": "off",
    "quotes": ["error", "single"]
  }
}
